
$foreground: #dcd7ba;
$background: #1f1f28;

$black: #090618;
$grey: #727169;

$alert-1: #c34043;
$alert-2: #e82424;

.layout {
  transition: all 250ms;
}

.wrapper {
  background: $black;
  padding: 6px 8px; 
}

.box {
  background: $background;
  margin: 4px 0; 
  padding: 6px 6px; 

  border-radius: 12px;
}

.img {
  margin: 0 4px;
}

.text-wrapper {
  padding-left: 6px;
}

.title {
  font-size: 14px;
}

.msg {
  font-size: 12px;
  margin-top: 6px;
}

.delete-btn {
  background: transparent;
  font-size: 14px;
  color: $alert-1;
  border-radius: 12px;

  transition: all 150ms ease;

  &:hover {
    color: $alert-2;
    background: $grey;
  }
}

.top {
  background: $black;
  padding: 3px 3px;
}

.top-title {
  font-size: 18px;
  font-weight: bold;
}

/*************
 * overshoot *
 *************/
.scrolledwindow {
  &.top { background-color: red; }
  &.bottom { background-color: red; }
}

/**************
 * undershoot *
 **************/
.undershoot {
    background: red;
}
